



@mixin textLineEllipsis($lineValue) {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: $lineValue;
    -webkit-box-orient: vertical;
}


@mixin flexSize($size) {
    -webkit-box-flex: $size;
    -ms-flex: $size;
    flex: $size;
}

@mixin hoverBtn($background-color, $text-color, $hover-bg-color) {
    background-color: $background-color;
    color: $text-color;
    border: 1px solid transparent;
    transition: all 0.3s ease-in-out;
    transform: translateY(0px);
    &:hover {
        background-color: $hover-bg-color;
        color: $background-color;
        transform: translateY(-3px);
        // border-color: $background-color;
        transition: all 0.3s ease-in-out;
    }
    &:active,
    &:focus {
        background-color: $background-color;
        color: $text-color;
        // border: 1px solid transparent;
        transition: all 0.3s ease-in-out;
    }
}
